<%= simple_form_for(@cocktail) do |f| %>
 <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
        <div class="alert alert-warning" role="alert">
          <li><%= message %></li>
        </div>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :name %>
<%= f.button :submit, class:"btn btn-primary" %>
<%= f.input :photo %>
<%= f.input :photo_cache, as: :hidden %>
<% end %>
